name: Java CI - Build Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    if: |
      !contains(github.event.head_commit.message, '[ciskip]')
    uses: FTBTeam/mods-meta/.github/workflows/standard-release.yml@main
    with:
      curse-publish-task: publishMods
      java-version: 17
    secrets:
      ftb-maven-token: ${{ secrets.FTB_MAVEN_TOKEN }}
      curse-token: ${{ secrets.CURSEFORGE_KEY }}
